<template>
    <div>
        <v-layout row wrap>
            <v-flex md6 pa-2>
                <v-card-text class="primary white--text" style="font-size:16px">
                    <v-icon dark class="mr-3">bookmarks</v-icon>
                    Today's Top Offers
                </v-card-text>
                <v-card class="grey lighten-4 pa-2" flat>
                    <v-data-table
                            :headers="headers"
                            :items="desserts"
                            hide-actions
                            class="elevation-1 sprint-db mb-3 dashboard-listing"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.offer }}</td>
                            <td class="text-xs-center">{{ props.item.clicks }}</td>
                            <td class="text-xs-center">{{ props.item.unique }}</td>
                            <td class="text-xs-center">{{ props.item.conversions }}</td>
                            <td class="text-xs-center">{{ props.item.$ }}</td>
                            <td class="text-xs-center">{{ props.item.EPC }}</td>
                        </template>
                        <template slot="no-data">
                            <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                    </v-data-table>
                    <fusioncharts
                            :type="type"
                            :width="width"
                            :height="height"
                            :dataFormat="dataFormat"
                            :dataSource="dataSource">
                    </fusioncharts>
                </v-card>
            </v-flex>
            <v-flex md6 pa-2>
                <v-card-text class="primary white--text" style="font-size:16px">
                    <v-icon dark class="mr-3">insert_link </v-icon>Today's Top Links
                </v-card-text>
                <v-card class="grey lighten-4 pa-2" flat>
                    <v-data-table
                            :headers="headers"
                            :items="desserts"
                            hide-actions
                            class="elevation-1 sprint-db mb-3 dashboard-listing"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.offer }}</td>
                            <td class="text-xs-center">{{ props.item.clicks }}</td>
                            <td class="text-xs-center">{{ props.item.unique }}</td>
                            <td class="text-xs-center">{{ props.item.conversions }}</td>
                            <td class="text-xs-center">{{ props.item.$ }}</td>
                            <td class="text-xs-center">{{ props.item.EPC }}</td>
                        </template>
                        <template slot="no-data">
                            <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                    </v-data-table>
                    <fusioncharts
                            :type="type"
                            :width="width"
                            :height="height"
                            :dataFormat="dataFormat"
                            :dataSource="dataSource">
                    </fusioncharts>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>


<script>
    export default {
        data: () => ({
            dialog: false,
            type: 'doughnut3d', // The chart type
            type1: 'line', // The chart type
            width: '700', // Width of the chart
            height: '400', // Height of the chart
            dataFormat: 'json', // Data type
            dataSource: {
                // Chart Configuration
                "chart": {
                    "caption": "Countries With Most Oil Reserves [2017-18]",
                    "subCaption": "In MMbbl = One Million barrels",
                    "xAxisName": "Country",
                    "yAxisName": "Reserves (MMbbl)",
                    "numberSuffix": "K",
                    "theme": "fusion",
                },
                // Chart Data
                "data": [{
                    "label": "Venezuela",
                    "value": "290"
                }, {
                    "label": "Saudi",
                    "value": "260"
                }, {
                    "label": "Canada",
                    "value": "180"
                }, {
                    "label": "Iran",
                    "value": "140"
                }, {
                    "label": "Russia",
                    "value": "115"
                }, {
                    "label": "UAE",
                    "value": "100"
                }, {
                    "label": "US",
                    "value": "30"
                }, {
                    "label": "China",
                    "value": "30"
                }]
            },
            headers: [
                {text: 'Offer', align: 'left', sortable: false, value: 'offer'},
                { text: 'Clicks',sortable: false,align: 'center', value: 'clicks' },
                { text: 'Unique',sortable: false,align: 'center', value: 'unique' },
                { text: 'Conversions',sortable: false,align: 'center', value: 'conversions' },
                { text: '$',sortable: false,align: 'center', value: '$' },
                { text: 'EPC',sortable: false,align: 'center', value: 'EPC' }
            ],
            desserts: [],

        }),
        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                this.desserts = [
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },
                    {
                        offer: 'Prototyp - 113018',
                        clicks: 997,
                        unique: 173,
                        conversions: 0,
                        $: '$0.0',
                        EPC: '$0.0'
                    },

                ]
            },

            editItem (item) {
                this.editedIndex = this.desserts.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.desserts.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            },

            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300);
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.desserts.push(this.editedItem)
                }
                this.close()
            }
        }
    }
</script>