<template>
    <v-app id="inspire">
        <v-navigation-drawer
                :clipped="$vuetify.breakpoint.lgAndUp"
                v-model="drawer"
                fixed
                app
                class="backend-left-menu"
                color="trackifyx"
        >
            <!-- Testing -->

            <v-menu offset-x class="top-left-user" transition="scale-transition">
                <v-btn
                        slot="activator"
                        flat
                        depressed
                        class="pl-0 mt-3"
                >
                    <v-avatar tile class="mb-3">
                        <img src="../../images/rr.png" alt="RR Links">
                    </v-avatar>
                    <!--<div class="user-drop-down">-->
                        <span class="brand-top-name">RR Links</span>
                        <!--<i class="material-icons">-->
                            <!--arrow_drop_down-->
                        <!--</i>-->
                    <!--</div>-->
                </v-btn>
                <v-list>
                    <v-list-tile @click="">
                        <v-list-tile-title>Link One</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="">
                        <v-list-tile-title>Link Two</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="">
                        <v-list-tile-title>Link Three</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

            <!-- Testing end -->




            <v-list dense class="left-side-bar">
                <template v-for="item in items">
                    <v-list-group
                        v-if="item.children"
                        v-model="item.model"
                        :key="item.text"
                        :append-icon="item.model ? item.icon : item['icon-alt']"
                        :prepend-icon="item.model ? item.textIcon : item['textIcon-alt']"
                        class="yes-child"
                    >
                        <v-list-tile slot="activator" class="hello asdf">
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile
                            v-for="(child, i) in item.children"
                            :key="i"
                            :to="child.url == '#' ? '' : child.url"
                            @click="dashboardActive"
                            class="tacking-line"
                        >

                            <v-list-group
                                    sub-group
                                    :append-icon="child.model ? child.icon : child['icon-alt']"
                                    class="sub-child-start"
                            >
                                <v-list-tile slot="activator" class="broooook">
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <v-list-tile-title>
                                                <!--<v-avatar size="32px" class="mr-2">-->
                                                    <!--<img :src="child.seal" :alt="child.text">-->
                                                <!--</v-avatar>-->
                                                {{ child.text }}
                                            </v-list-tile-title>
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>


                                <v-list-tile
                                        v-for="(bChild, i) in child.subChildren"
                                        @click=""
                                        v-model="bChild.model"
                                        :key="bChild.text"
                                        :append-icon="bChild.model ? bChild.icon : bChild['icon-alt']"

                                        class="choty-bachy"
                                        :to="bChild.url == '#' ? '' : bChild.url"
                                        exact
                                >
                                    <v-list-tile-title>
                                        <i class="material-icons">
                                            {{bChild.icon}}
                                        </i>
                                        <span>{{ bChild.text }}</span>
                                    </v-list-tile-title>
                                </v-list-tile>
                            </v-list-group>

                            <v-list-tile-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action>

                        </v-list-tile>
                    </v-list-group>

                    <v-list-tile  v-else :key="item.text" @click="dashboardActive" class="no-child" :to="item.url == '#' ? '' : item.url"  exact>
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>

            <!-- Social Points -->
            <!--<v-card class="score-pad darken-1 mt-3 orange ">-->
                <!--<v-card-text class="pa-3 white&#45;&#45;text">-->
                    <!--<p class="text-xs-center">Your Current Social Points are <span class="font-weight-bold pt-2 text-xs-center">520</span></p>-->
                    <!--<v-btn color="primary">Add More</v-btn>-->
                    <!--<v-btn color="success">Win More</v-btn>-->
                <!--</v-card-text>-->
            <!--</v-card>-->

        </v-navigation-drawer>
        <v-toolbar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                color=""
                dark
                app
                fixed
                class="main-jedi-menu"
                depressed
                style="background-color: #ccc;box-shadow:none"
        >
            <v-toolbar-title class="ml-0 pl-3">
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <!--<span class="brand-logo">-->
                    <!--Trackify App-->
                <!--</span>-->
                <!--<span class="hidden-sm-and-up brand-logo">-->
                    <!--<img src="../../images/small-grel-logo.png" alt="Global Real Estate Licence">-->
                <!--</span>-->
            </v-toolbar-title>

            <v-spacer></v-spacer>



            <v-menu offset-y class="multiple-apps">
                <v-btn slot="activator" icon>
                    <v-icon>apps</v-icon>
                </v-btn>
                <v-list>
                    <!--<v-list-tile @click="">-->
                        <!--<v-list-tile-title>-->
                            <!--<v-list-tile-title>App 1</v-list-tile-title>-->
                        <!--</v-list-tile-title>-->
                    <!--</v-list-tile>-->
                    <!--<v-list-tile @click="">-->
                        <!--<v-list-tile-title>-->
                            <!--<v-list-tile-title>App 1</v-list-tile-title>-->
                        <!--</v-list-tile-title>-->
                    <!--</v-list-tile>-->
                    <!--<v-list-tile @click="">-->
                        <!--<v-list-tile-title>-->
                            <!--<v-list-tile-title>App 1</v-list-tile-title>-->
                        <!--</v-list-tile-title>-->
                    <!--</v-list-tile>-->
                    <!--<v-list-tile @click="">-->
                        <!--<v-list-tile-title>-->
                            <!--<v-list-tile-title>App 1</v-list-tile-title>-->
                        <!--</v-list-tile-title>-->
                    <!--</v-list-tile>-->
                    <img src="../../images/all-apps.png">
                </v-list>
            </v-menu>
            <v-btn icon>
                <v-icon>notifications</v-icon>
            </v-btn>
            <v-menu offset-y>
                <v-btn
                        slot="activator"
                        flat
                        depressed
                        class="pl-0 store-details"
                >
                    <v-avatar size="32px" tile class="mr-2">
                        <img src="../../images/thomass-big.jpg" alt="Thomas">
                    </v-avatar>
                    <i class="material-icons">
                        arrow_drop_down
                    </i>
                </v-btn>
                <v-list>
                    <v-list-tile @click="">
                        <v-list-tile-title>Store 2</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="">
                        <v-list-tile-title>Upgrade</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="">
                        <v-list-tile-title>Log Out</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <div class="custom-right-bar">
            <div class="icon-side">
                <div :class="{active : showFirst}">
                    <v-btn icon @click="showRightBar1"><v-icon color="blue darken-1">calendar_today</v-icon></v-btn>
                </div>
                <div :class="{active : showSecond}">
                    <v-btn icon @click="showRightBar2"><v-icon color="blue darken-1">edit</v-icon></v-btn>
                </div>
                <div :class="{active : showThird}">
                    <v-btn icon @click="showRightBar3"><v-icon color="blue darken-1">event_note</v-icon></v-btn>
                </div>
                <div :class="{active : showFourth}">
                    <v-btn icon @click="showRightBar4"><v-icon color="blue darken-1">school</v-icon></v-btn>
                </div>
            </div>
            <div v-show="rightBar" class="right-options" style="width: 300px;">
                <v-btn style="float:right" @click="closeBar" icon>
                    <i class="material-icons">
                        close
                    </i>
                </v-btn>
                <div v-show="showFirst" class="single-entity">
                    <v-date-picker v-model="picker" :landscape="landscape" :reactive="reactive"></v-date-picker>
                </div>
                <div v-show="showSecond" class="single-entity">
                    <v-card flat>
                        <v-card-text class="pb-0">
                            My Tasks:
                        </v-card-text>
                        <v-card-text>
                            <v-flex xs12 v-for="(tasks,index) in userTasks" :key="index">
                                <v-text-field
                                        label="Task Title"
                                        solo
                                        placeholder="Enter Task Title"
                                        v-model="tasks.taskTitle"
                                        v-on:keyup.enter="addTask"
                                ></v-text-field>
                            </v-flex>
                            <v-btn @click="addTask" icon style="display:block;margin:0 auto">
                                <i class="material-icons primary--text">
                                    add_circle
                                </i>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </div>
                <div v-show="showThird" class="single-entity">
                    <v-card flat>
                        <v-card-text class="pb-0">
                            My Notes:
                        </v-card-text>
                        <v-card-text>
                            <v-flex xs12 v-for="(notes,index) in userNotes" :key="index">
                                <v-text-field
                                        label="Note Title"
                                        solo
                                        placeholder="Enter Note"
                                        v-model="notes.noteTitle"
                                        v-on:keyup.enter="addNotes"
                                ></v-text-field>
                            </v-flex>
                            <v-btn @click="addNotes" icon style="display:block;margin:0 auto">
                                <i class="material-icons primary--text">
                                    add_circle
                                </i>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </div>
                <div v-show="showFourth" class="single-entity">
                    <v-card flat>
                        <v-card-text>Trackify Video</v-card-text>
                        <v-card-text>
                            <iframe style="width: 100%;height: auto;" src="https://www.youtube.com/embed/jIGZFlMdOzo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </v-card-text>
                        <v-card-text>Some Text Here Some Text Here Some Text Here Some Text Here Some Text Here</v-card-text>
                    </v-card>
                </div>
            </div>
        </div>
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center align-center style="display: block">
                    <router-view></router-view>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<style>
    .left-side-bar .choty-bachy a{
        height: auto !important;
    }
    .v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
        height: auto;
        padding: 9px 0px;
    }
    .v-list--dense .v-list__tile:not(.v-list__tile--avatar) .v-list__tile {
        padding: 0;
    }
    .v-list__group .v-list__group .v-list__group__header:hover{background-color: transparent}
    .v-list__group .v-list__group--active:before,
    .v-list__group .v-list__group--active:after{
        background: none !important;
    }
    .v-list__group .v-list__group .choty-bachy{padding-left:0px}
    .v-list--dense .v-list__tile:not(.v-list__tile--avatar) .v-list__group{width: 100%}
</style>


<script>
    export default {
        data: () => ({
            showFirst:false,
            showSecond:false,
            showThird:false,
            showFourth:false,
            rightBar:false,
            drawer: null,
            items: [
                {
                    icon: 'dashboard',
                    text: 'Dashboard',
                    url: '/'
                },
                {
                    icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    textIcon : 'settings',
                    'textIcon-alt' : 'settings',
                    text: 'Link Presets',
                    model: false,
                    children: [
                        {
                            text: 'UTM Defaults',
                            seal: '../../public/images/outline_list.png',
                            url: '/utmDefaults'
                        },
                        {
                            text: 'Masking Domains',
                            seal: '../../public/images/outline_list.png',
                            url: '/maskingDomains'
                        },
                        {
                            text: 'Link Tags',
                            seal: '../../public/images/outline_list.png', // Different view from child 1
                            url: '/linkTags'
                        },

                    ]
                },
                {
                    icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    textIcon : 'class',
                    'textIcon-alt' : 'class',
                    text: 'Link Manager',
                    model: false,
                    children: [
                        {
                            text: 'Manager',
                            seal: '../../public/images/outline_list.png',
                            url: '/manageLinks'
                        },
                        {
                            text: 'Create',
                            seal: '../../public/images/outline_list.png', // different view from Tag Stats
                            url: '/createLinks'
                        },
                        // {
                        //     text: 'Facebook Pixels',
                        //     seal: '../../public/images/outline_list.png',
                        //     url: '/fbPixles'
                        // },
                    ]
                },
                
                {
                    icon: 'share',
                    text: 'Link Reports',
                    url: '/socialSettings'
                },
                {
                    icon: 'share',
                    text: 'Tracking Integrations',
                    url: '/socialSettings'
                }
                // {
                //     icon: 'keyboard_arrow_up',
                //     'icon-alt': 'keyboard_arrow_down',
                //     textIcon : 'card_membership',
                //     'textIcon-alt' : 'card_membership',
                //     text: 'Licence Editions',
                //     model: false,
                //     children: [
                //         {
                //             text: 'Broker Edition',
                //             model: false,
                //             seal: '../../public/images/broker-seal.png',
                //             subChildren : [
                //                 {
                //                     text: 'Training',
                //                     url: 'broker-1.1',
                //                     icon: 'gamepad'
                //                 },
                //                 {
                //                     text: 'Tools',
                //                     url: 'broker-tools',
                //                     icon: 'picture_as_pdf'
                //                 },
                //                 {
                //                     text: 'Branding',
                //                     url: 'broker-branding',
                //                     icon: 'sentiment_satisfied_alt'
                //                 }
                //             ],
                //
                //         },
                //         {
                //             text: 'Developer Edition',
                //             model:false,
                //             seal: '../../public/images/developer-seal.png',
                //             subChildren : [
                //                 {
                //                     text: 'Training',
                //                     url: 'developer-training',
                //                     icon: 'gamepad',
                //                 },
                //                 {
                //                     text: 'Tools',
                //                     url: 'developer-tools',
                //                     icon: 'picture_as_pdf'
                //                 },
                //                 {
                //                     text: 'Branding',
                //                     url: 'developer-branding',
                //                     icon: 'sentiment_satisfied_alt'
                //                 }
                //             ],
                //         },
                //         {
                //             text: 'Investor Edition',
                //             model:false,
                //             seal: '../../public/images/investor-seal.png',
                //             subChildren : [
                //                 {
                //                     text: 'Training',
                //                     url: 'investor-training',
                //                     icon: 'gamepad'
                //                 },
                //                 {
                //                     text: 'Tools',
                //                     url: 'investor-tools',
                //                     icon: 'picture_as_pdf'
                //                 },
                //                 {
                //                     text: 'Branding',
                //                     url: 'investor-branding',
                //                     icon: 'sentiment_satisfied_alt'
                //                 }
                //             ],
                //         }
                //     ]
                // },
                //
                // {
                //     icon: 'keyboard_arrow_up',
                //     'icon-alt': 'keyboard_arrow_down',
                //     textIcon : 'card_giftcard',
                //     'textIcon-alt' : 'card_giftcard',
                //     text: 'Speciality Designations',
                //     model: false,
                //     children: [
                //         {
                //             text: 'ACS',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/area'
                //         },
                //         {
                //             text: 'VS-REX',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/carema'
                //         },
                //         {
                //             text: 'CS-REX',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         },
                //         {
                //             text: 'LH-REX',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         },
                //         {
                //             text: 'AIPS',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         },
                //         {
                //             text: 'ARPM',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         },
                //         {
                //             text: 'CHFS',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         }
                //     ]
                // },
                // {
                //     icon: 'keyboard_arrow_up',
                //     'icon-alt': 'keyboard_arrow_down',
                //     textIcon : 'card_giftcard',
                //     'textIcon-alt' : 'card_giftcard',
                //     text: 'Skill Certifications',
                //     model: false,
                //     children: [
                //         {
                //             text: 'CREN',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/area'
                //         },
                //         {
                //             text: 'CRSS',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/carema'
                //         },
                //         {
                //             text: 'COL-REX',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         }
                //     ]
                // },
                // {
                //     icon: 'keyboard_arrow_up',
                //     'icon-alt': 'keyboard_arrow_down',
                //     textIcon : 'card_giftcard',
                //     'textIcon-alt' : 'card_giftcard',
                //     text: 'Assistants Certifications',
                //     model: false,
                //     children: [
                //         {
                //             text: 'AREA',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/area'
                //         },
                //         {
                //             text: 'CREMA',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/carema'
                //         },
                //         {
                //             text: 'CAREA',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         },
                //         {
                //             text: 'OMREA',
                //             seal: '../../public/images/broker-seal.png',
                //             url: '/css'
                //         }
                //     ]
                // },
                // {
                //     icon: 'keyboard_arrow_up',
                //     'icon-alt': 'keyboard_arrow_down',
                //     textIcon : 'card_membership',
                //     'textIcon-alt' : 'card_membership',
                //     text: 'Workout Scripts',
                //     model: false,
                //     children: [
                //         {
                //             text: 'Selling',
                //             url: '/sellingScript',
                //             seal: '../../public/images/broker-seal.png',
                //         },
                //         {
                //             text: 'Investment',
                //             url: '/investmentScript',
                //             seal: '../../public/images/developer-seal.png',
                //         },
                //         {
                //             text: 'Networking',
                //             url: '/networkingScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Door Knocking',
                //             url: '/doorScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Assistants',
                //             url: '/assistScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Referrals',
                //             url: '/referralScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Marketing',
                //             url: '/marketingScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Prospecting',
                //             url: '/prospectingSCript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Calls',
                //             url: '/callScript',
                //             seal: '../../public/images/investor-seal.png',
                //         },
                //         {
                //             text: 'Buying',
                //             url: '/buyingScript',
                //             seal: '../../public/images/investor-seal.png',
                //         }
                //     ]
                // },
            ],
            userTasks:[
                {
                    taskTitle: '',
                    taskDetails: ''
                }
            ],
            userNotes:[
                {
                    noteTitle: '',
                }
            ]
        }),
        props: {
            source: String
        },
        methods : {
            closeBar: function(){
                this.rightBar=false;
                this.showFirst=false;
                this.showSecond=false;
                this.showThird=false;
                this.showFourth=false;
            },
            addTask: function(){
              this.userTasks.push({
                  taskTitle: '',
                  taskDetails: ''
              });
            },
            addNotes: function(){
                this.userNotes.push({
                    noteTitle: '',
                });
            },
            showRightBar1: function(){
                this.rightBar = true;
                this.showFirst=true;
                this.showSecond=false;
                this.showThird=false;
                this.showFourth=false;
            },
            showRightBar2: function(){
                this.rightBar = true;
                this.showSecond=true;
                this.showFirst=false;
                this.showThird=false;
                this.showFourth=false;
            },
            showRightBar3: function(){
                this.showThird=true;
                this.rightBar = true;
                this.showSecond=false;
                this.showFirst=false;
                this.showFourth=false;
            },
            showRightBar4: function(){
                this.showFourth=true;
                this.rightBar = true;
                this.showSecond=false;
                this.showFirst=false;
                this.showThird=false;
            },
            dashboardActive : function() {
                if(this.$router.currentRoute.path== '/' || this.$router.currentRoute.path== '/dashboard'){
                    $('.v-list .no-child:nth-child(1) .v-list__tile.v-list__tile--link').addClass('primary--text v-list__tile--active');
                }
                else {
                    $('.v-list .no-child:nth-child(1) .v-list__tile.v-list__tile--link').removeClass('primary--text v-list__tile--active');
                }
            }
        },
        mounted : function(){
            //console.log(this.$router.currentRoute.path);
            this.dashboardActive();
            if ($(window).width() > 1264) {
                $('.v-toolbar__side-icon').click(function () {

                    if($('.backend-left-menu').hasClass("v-navigation-drawer--open")){
                        $('.main-jedi-menu').css("cssText","padding-left: 0px !important");
                    }else{
                        $('.main-jedi-menu').css("cssText","padding-left: 300px !important");
                    }
                })
            }
            else {
                return false;
            }
        }
    }
</script>