<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Manage Links</h1>
                        <p class="text-xs-left"><strong>(Optional) Advanced marketer? Use these settings to get more out of Trackify</strong></p>
                    </v-card-text>
                </v-card>
            </v-flex>
            <!--<v-flex md6>-->
                <!--<v-card flat>-->
                    <!--<v-card-text class="px-0 top-right-portion">-->
                        <!--<p>Build Better Audiences! <span style="display: block;">Watch and implement this video!</span></p>-->
                        <!--<v-dialog-->
                                <!--v-model="dialog"-->
                                <!--width="500"-->
                        <!--&gt;-->
                            <!--<v-btn flat depressed slot="activator" class="ma-0 pa-0 video-popup-cta">-->
                                <!--<img src="../../images/audience_thumb.png" alt="Audience Thumb">-->
                            <!--</v-btn>-->
                            <!--<v-card>-->
                                <!--<v-card-title-->
                                        <!--class="headline grey lighten-2"-->
                                        <!--primary-title-->
                                <!--&gt;-->
                                    <!--Build Better Audiences!! Checkout this video!-->
                                <!--</v-card-title>-->

                                <!--<v-card-text class="pb-0">-->
                                    <!--<iframe title="YouTube video player" class="youtube-player-intro" type="text/html" width="100%" src="https://www.youtube.com/embed/K39KWvsZ5j8?rel=0&amp;&amp;showinfo=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer" frameborder="0" allowfullscreen=""></iframe>-->
                                <!--</v-card-text>-->

                                <!--<v-divider></v-divider>-->

                                <!--<v-card-actions>-->
                                    <!--<v-spacer></v-spacer>-->
                                    <!--<v-btn-->
                                            <!--color="primary"-->
                                            <!--flat-->
                                            <!--@click="dialog = false"-->
                                    <!--&gt;-->
                                        <!--Got It!-->
                                    <!--</v-btn>-->
                                <!--</v-card-actions>-->
                            <!--</v-card>-->
                        <!--</v-dialog>-->
                    <!--</v-card-text>-->
                <!--</v-card>-->
            <!--</v-flex>-->
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card flat class="border-arround">
                    <v-card-text>
                        <v-layout row wrap>
                            <!--<v-flex xs12 class="aud-videos">-->
                                <!--<v-dialog-->
                                        <!--v-model="dialog2"-->
                                        <!--width="500"-->
                                <!--&gt;-->
                                    <!--<v-btn dark slot="activator" class="secondary right tf-app-cta" flat>-->
                                        <!--<v-icon dark right class="ml-0 mr-3">play_circle_outline</v-icon>Tracking Tags Video-->
                                    <!--</v-btn>-->
                                    <!--<v-card>-->
                                        <!--<v-card-title class="grey lighten-2">-->
                                            <!--Tracking Tags Video-->
                                        <!--</v-card-title>-->
                                        <!--<v-card-text class="pb-0">-->
                                            <!--<iframe title="YouTube video player" class="youtube-iframe" type="text/html" width="100%" height="400" src="https://www.youtube.com/embed/K39KWvsZ5j8?start=rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer" frameborder="0" allowfullscreen=""></iframe>-->
                                        <!--</v-card-text>-->

                                        <!--<v-divider></v-divider>-->

                                        <!--<v-card-actions>-->
                                            <!--<v-spacer></v-spacer>-->
                                            <!--<v-btn-->
                                                    <!--color="primary"-->
                                                    <!--flat-->
                                                    <!--@click="dialog2 = false"-->
                                            <!--&gt;-->
                                                <!--Got It!-->
                                            <!--</v-btn>-->
                                        <!--</v-card-actions>-->
                                    <!--</v-card>-->
                                <!--</v-dialog>-->
                            <!--</v-flex>-->
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex xs3>
                                        <v-layout row wrap>
                                            <v-flex xs2 pt-3>
                                                <span class="font-weight-bold">Show</span>
                                            </v-flex>
                                            <v-flex xs3>
                                                <v-select
                                                        :items="entriesItems"
                                                        label="10"
                                                        outline
                                                        solo
                                                        class="app-text-field"
                                                        flat
                                                        small
                                                        height="30px"
                                                ></v-select>
                                            </v-flex>
                                            <v-flex xs2 pt-3>
                                                <span class="font-weight-bold">Entries</span>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-data-table
                                        :headers="headers"
                                        :items="desserts"
                                        class="data-listings"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                        <td class="text-xs-left">{{ props.item.calories }}</td>
                                        <td class="text-xs-left">{{ props.item.fat }}</td>
                                        <td class="text-xs-left">{{ props.item.carbs }}</td>
                                        <td class="text-xs-left">
                                            <v-icon small>
                                                done
                                            </v-icon>
                                        </td>
                                        <td class="justify-center layout px-0">
                                            <v-btn icon>
                                                <v-icon small>
                                                    edit
                                                </v-icon>
                                            </v-btn>
                                            <v-btn icon>
                                                <v-icon small>
                                                    delete
                                                </v-icon>
                                            </v-btn>
                                        </td>
                                    </template>
                                    <template slot="no-data">
                                        <v-btn color="primary" @click="">Reset</v-btn>
                                    </template>
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data(){
            return{
                dialog: false,
                dialog2: false,
                select:'Shopify Store 1',
                items: [
                    'Shopify Store 1',
                    'Shopify Store 2',
                    'Shopify Store 3',
                    'Shopify Store 4'
                ],
                entriesItems:['10','25','50','100','200','500','All'],
                headers: [
                    {
                        text: 'Campaign Name',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    { text: 'Product Url', value: 'calories' },
                    { text: 'Hits', value: 'fat' },
                    { text: 'Slug', value: 'carbs' },
                    { text: 'UTM', value: 'protein' },
                    { text: 'Actions', value: 'name', sortable: false, align: 'center', }
                ],
                desserts: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                },
                defaultItem: {
                    name: '',
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                }
            }
        },
        created () {
            this.initialize()
        },
        methods: {
            initialize() {
                this.desserts = [
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 2',
                        calories: 'https:www.google.com',
                        fat: 64,
                        carbs: 'a34f5451',
                    },
                    {
                        name: 'test page 3',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 4',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                    {
                        name: 'test page 1',
                        calories: 'https:www.google.com',
                        fat: 60,
                        carbs: 'adf5451',
                    },
                ]
            }
        }
    }
</script>