<template>
    <div>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Any Heading Goes Here...</h1>
                        <p class="text-xs-left"><strong>(Optional) Advanced marketer? Use these settings to get more out of Trackify!</strong></p>
                        <p class="text-xs-left">Note: We recommend that you keep the default settings here, unless you fully understand the effects of any changes you make. Please watch the Advanced Settings Video, and ask any questions in our chat!</p>
                    </v-card-text>
                </v-card>
                <v-flex xs1 class="adSettings sprint-tooltip setting-tip" pt-5>
                    <v-tooltip bottom color="orange darken-2">
                        <v-icon
                                slot="activator"
                                color="orange darken-2"
                                dark
                        >whatshot</v-icon>
                        <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                    </v-tooltip>
                    <v-btn icon @click="" class="mt-0"><v-icon color="blue darken-1">school</v-icon></v-btn>
                </v-flex>
            </v-flex>
            <v-flex xs12 mb-4>
                <v-card>
                    <v-card-text class="primary pl-4 white--text" style="font-size:16px">
                        Masking Domains
                    </v-card-text>
                    <v-layout row wrap class="pa-2">
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Enter Domain:</label>
                                <v-text-field
                                        placeholder="Any Domain"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn class="tf-app-cta right grey lighten-1 white--text right" flat>Reset</v-btn>
                            <v-btn class="tf-app-cta right primary white--text right" flat>Save!</v-btn>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>


<script>
    export default {
        data () {
            return {
                switch1: true
            }
        }
    }
</script>