<template>
    <div>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">RR Links</h1>
                        <p class="text-xs-left"><strong>(Optional) Advanced marketer? Use these settings to get more out of Trackify!</strong></p>
                        <p class="text-xs-left">Note: We recommend that you keep the default settings here, unless you fully understand the effects of any changes you make. Please watch the Advanced Settings Video, and ask any questions in our chat!</p>
                    </v-card-text>
                </v-card>
                <v-flex xs1 class="adSettings sprint-tooltip setting-tip" pt-5>
                    <v-tooltip bottom color="orange darken-2">
                        <v-icon
                                slot="activator"
                                color="orange darken-2"
                                dark
                        >whatshot</v-icon>
                        <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                    </v-tooltip>
                    <v-btn icon @click="" class="mt-0"><v-icon color="blue darken-1">school</v-icon></v-btn>
                </v-flex>
            </v-flex>
            <v-flex xs12 mb-4>
                <v-card>
                    <v-card-text class="primary pl-4 white--text" style="font-size:16px">
                        UTM Parameters
                    </v-card-text>
                    <v-layout row wrap>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM Compaign:</label>
                                <v-text-field
                                        placeholder="[product-slug]"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM Source:</label>
                                <v-text-field
                                        placeholder="facebook"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM Medium:</label>
                                <v-text-field
                                        placeholder="organic"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM Term:</label>
                                <v-text-field
                                        placeholder="organic-[product-slug]-[product-sub-content]"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM Content:</label>
                                <v-text-field
                                        placeholder="post-[product-slug]-[product-sub-content]"
                                        single-line
                                        outline
                                        class="app-text-field"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                        <v-flex sm4>
                            <v-card-text class="pb-0">
                                <label class="text-xs-left font-weight-black" style="display: block; font-size: 16px">Default UTM No override:</label>
                                <v-switch
                                        label="Switch to do some action"
                                        v-model="switch1"
                                ></v-switch>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-text class="primary pl-4 white--text" style="font-size:16px">
                        Available Merge Feilds
                    </v-card-text>
                    <v-layout row wrap class="red--text">
                        <v-card-text class="pb-0">
                            [product-slug]
                        </v-card-text>
                        <v-card-text class="pb-0">
                            [product-sub-count]
                        </v-card-text>
                        <v-card-text class="pb-0">
                            [product-id]
                        </v-card-text>
                        <v-card-text class="pb-0">
                            [short-url]
                        </v-card-text>
                        <v-card-text>
                            [short-link-id]
                        </v-card-text>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>


<script>
    export default {
        data () {
            return {
                switch1: true
            }
        }
    }
</script>